.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 1.5rem;
    grid-row-gap: 1.5rem;
    margin: 2rem 0;
    position: relative;

    &.cards-nogrid {
        display: block;
 
        .card {
            margin-bottom: .75rem;
        }
    }

    .card {
        background-color: white;
        border-radius: var(--border-raduis-lg);
        filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
        display: flex;

        &.card-stack {
            flex-direction: column;

            .card-content {
                width: 100%;
            }
        }

        &.card-no-padding {
            padding: 0;

            .card-title {
                margin-top: 1rem;
                margin-bottom: 1rem;
            }
        }

        img {
            object-fit: cover;
            background-size: cover;
            height: 200px;
            border-top-left-radius: var(--border-raduis-lg);
            border-top-right-radius: var(--border-raduis-lg);
        }

        .card-content {
            /*width: 67%;*/
            flex: 1;
            padding-left: 1rem;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            box-sizing: border-box;

            .card-title {
                font-size: 1rem;
                font-weight: 700;
                margin-top: 0.625rem;
                margin-bottom: 0.25rem;
            }

            .card-subtitle {
                font-size: .9rem;
                font-weight: 300;
                margin: 0.4rem 0;
            }

            .card-infos {
                padding-right: 1rem;
            }
        }

        .card-badge {
            color: #008766;
            background-color: var(--fith-color);
            border: 5px solid var(--fith-color);
            border-radius: 5px;
            position: absolute;
            right: 3%;
            top: 5%;
            z-index: 99;
        }
        

    }

}