section.help {
        counter-reset: steps;
        margin-bottom: 2rem;

        @media screen and (max-width:map-get($breakpoints, large)){
            padding: 0 2rem;
        }
        
        ol {
          display: flex;
          gap: 2rem;

          @media screen and (max-width:map-get($breakpoints, tablet)){
            flex-direction: column;
          }

          li {
            position: relative;
            display: flex;
            align-items: center;
            &::before {
              content: counter(steps);
              counter-increment: steps;
              color: white;
              background-color: var(--fith-color);
              width: 1.5rem;
              height: 1.5rem;
              display: grid;
              place-items: center;
              border-radius: 50%;
              position: absolute;
              top: 50%;
              left: -1rem;
              transform: translateY(-50%);
            }
            list-style-type: none;
            background-color: #f6f6f6;
            padding: 1.5rem 2rem;
            flex-grow: 1;
            border-radius: 1rem;
            @include box-shadow;
            transition: transform 300ms ease-in-out;

            &:hover {
              @include transform-zoom;
              background-color: lighten($fith-color, 35%);
              i::before {
                color:  var(--fith-color);
              }
            }
            
            & i.fas {
              margin-right: 1rem;
              color: $lightgrey;
              font-size: 1.5rem;
            }
          }

        }


      }