.hero {
    text-align: center;
    background-color: var(--section-color);
    margin-bottom: 2rem;

    hgroup {
        padding: 2rem;
        .hero-subtitle {
            margin-bottom: 0;
        }        
    }
  
    .hero-title {
      margin: 0;
    }
  
    .hero-subtitle {
      font-weight: 300;
      margin: 1.5rem 0;
    }
  
    .hero-btn {
      @include button(primary);
      margin-bottom: 2rem;
      display: inline-block;
    }

    img {
        object-fit: cover;
        width: 100%;
        height: 350px;
    }
  }