.hero {
    padding: 2rem;
    text-align: center;
    background-color: rgb(250, 250, 250);
  
    .hero-title {
      margin: 0;
    }
  
    .hero-subtitle {
      font-weight: 300;
      margin: 1.5rem 0;
    }
  
    .hero-btn {
      @include button(primary);
    }
  }