// Restaurants
.restaurants {
    padding: 2rem;
    background-color: var(--section-color);

    @media screen and (max-width:map-get($breakpoints, large)){
        padding: 2rem 1rem;
    }

}

// Restaurant
.restaurant {
    background-color: var(--section-color);
    border-top-left-radius: var(--border-raduis-xl);
    border-top-right-radius: var(--border-raduis-xl);
    width: 100%;
    position: relative;
    max-width: 1055px;
    margin: auto;
    margin-top: calc( -1 * var(--border-raduis-xl) * 2 );
    padding: 1rem;


    .restaurant-header {
        padding: 2rem;

        @media screen and (max-width:map-get($breakpoints, desktop)){
            padding: 2rem 0;
        }        
    }

    .restaurant-title {
        text-align: center;

        @media screen and (max-width:map-get($breakpoints, desktop)){
            text-align: left;
        }
    }

    .restaurant-order {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 2rem;

        .order-btn {
            @include button(primary);
            display: inline-block;  
        }

    }
}

// Menus
.menu {
    width: 50%;
    margin-left: auto;
    margin-right: auto;

    @media screen and (max-width:map-get($breakpoints, desktop)){
        width: 100%;
    }

    .meal {
    }
    
}

// Heart 
.animate-heart {
    position: relative;

    i.fa-heart {
        font-weight: 500;
        color: black;
        position: absolute;
        top: 0;
        left: 0;
        // transition: color 300ms ease-in-out;
    }

    i.filled {
        font-weight: 900;
        color: var(--fith-color);
        position: absolute;
        top: 0;
        left: 0;
        opacity: .0;
        transition: opacity 200ms ease-in-out;
    }

    // &:hover i.fa-heart { 
    //     font-weight: 900;
    //     color: var(--fith-color);
    // }
    
    &:hover i.filled { 
        opacity: 1;
    }
}

