* {
    font-family: $font-family, sans-serif;
}

a {
    text-decoration: none;
}

body {
    background-color: var(--var);
}

section > .container{
    max-width: 1280px;
    margin: auto;
    position: relative;
}
  