/* Sass variables */
$font-size:             1rem;
$font-family:           "Roboto";
$font-alt-family:       "Shrikhand";

/* Css variables */
:root {
    --first-color:#99E2D0;
    --second-color:#008766;
    --third-color:#89C8FA;
    --fourth-color:#003A68;
    --fith-color:#9356DC;
    --sixth-color:#FF79DA;
}