.restaurants {
  padding: 2rem;
  background-color: var(--section-color);
}

.restaurant {
  background-color: var(--section-color);
  border-top-left-radius: var(--border-raduis-xl);
  border-top-right-radius: var(--border-raduis-xl);
  width: 100%;
  position: relative;
  margin-top: calc(-1 * var(--border-raduis-xl) * 2);
}